<a href="https://colab.research.google.com/github/Chennu-576/Chennu.Lakshmi-Madhuri/blob/main/Chennu_Lakshmi_Madhuri_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 30 DAYS CODING CHALLENGE

BASIC PYHTON PROGRAMS

Hello World

In [ ]:
a = 'Hello World!'
print(a)

Hello World!

Checking number is Positive or Negative

In [ ]:
n=76
if n > 0:
  print('Positive')
elif n < 0:
  print('Negative')
else:
  print('zero')

Positive

Checking number is Leap year or not

In [ ]:
x = 2023
if (x % 400 == 0) or (x % 4 == 0 and x % 100 != 0): # relational and logical operators
  print('x is leap year')
else:
  print('x is not leap year')

x is not leap year

Greatest among three numbers

In [ ]:
a1 = 25
a2 = 38
a3 = 56
if (a1>a2 and a1>a3):
  print(a1)
elif a2 > a3:  # relational operator
  print(a2)
else:
  print(a3)

56

Swapping of two numbers

In [ ]:
a = 476
b = 19

print('value of a before swapping:',a)
print('value of b before swapping:',b)

temp = a  # temp = 476
a = b     #  a= 19
b = temp  # b = 476 (temp)

print('value of a after swapping:',a)
print('value of b after swapping:',b)

value of a before swapping: 476
value of b before swapping: 19
value of a after swapping: 19
value of b after swapping: 476

Swapping of two numbers without using third variable

In [ ]:
a = 7
b = 15
print(f'Before swapping a has {a} and b has {b}')
a,b = b,a
print(f'After swapping a has {a} and b has {b}')

Before swapping a has 7 and b has 15
After swapping a has 15 and b has 7

Prime Number

In [ ]:
num = 7
count = 0
if num > 1:
    for i in range(1,num+1):
        if num % i == 0:
            count = count + 1
    if count == 2:
        print('num is prime:')    # A number is divisible by one and itself. so it has 2 factors
    else:
        print('num is not prime:')

num is prime:

Number is even or odd

In [ ]:
n = 86
if n % 2 == 0:
  print('n is Even')
else:
  print('n is Odd')

n is Even

Factorial of a number

In [ ]:
fact = 1
num = 6

if num < 0:
    print('factorial number does not exist for negative number')
elif num == 0:
    print('factorial number of 0 is 1')
else:
    for i in range(1,num+1):
        fact = fact * i
    print('factorial number of', num,'is:',fact)

factorial number of 6 is: 720

Factorial of number using recursive approach

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial (n-1)
num = 5
print('factorial of',num, 'is:',factorial(num))

factorial of 5 is: 120

Sum of natural numbers

In [ ]:
n = int(input('Enter a number:'))
sum = 0
for i in range(n+1):
  sum += i
print('sum:',sum)

Enter a number:12
sum: 78

In [ ]:
n = int(input('Enter a number:'))
sum = 0
while n> 0:
  sum += n
  n -= 1
print('sum:',sum)

Enter a number:8
sum: 36

Fibonacci Series

In [ ]:
num = 10
n1, n2 = 0, 1
print("Fibonacci Series:", n1, n2, end=" ")
for i in range(2, num):
    n3 = n1 + n2          # fibnocci series is defined as sum of two preceeding numbers
    n1 = n2
    n2 = n3
    print(n3, end=" ")

print()

Fibonacci Series: 0 1 1 2 3 5 8 13 21 34

Reverse of a given number

In [ ]:
num = 1234
temp = num
reverse = 0
while num > 0:
    remainder = num % 10
    reverse = (reverse * 10) + remainder
    num = num // 10

print(reverse)

4321

Reversing a number using string slicing

In [ ]:
num = 76
print(str(num)[::-1])

67

Count the number of digits in a number

In [ ]:
n = 987
count = 0
while n:
  n = n // 10
  count = count + 1
print(count)

3

In [ ]:
num = 4567
print(len(str(num)))

4

Compute the power of a number

In [ ]:
num = 4
pow = 3
def power(num,pow):
  return num ** pow
print(power(num,pow))

64

In [ ]:
print(int(power(4,3)))

64

Palindrome

In [ ]:
num = 1221
temp = num
reverse = 0
while temp > 0:
    remainder = temp % 10
    reverse = (reverse * 10) + remainder
    temp = temp // 10
if num == reverse:
  print('Palindrome')
else:
  print("Not Palindrome")

Palindrome

Palindrome using string slicing

In [ ]:
num = 1234
reverse = int(str(num)[::-1])

if num == reverse:
  print('Palindrome')
else:
  print("Not Palindrome")

Not Palindrome

Check whether a character is a vowel or consonant

In [ ]:
c = 'a'  # a- 97 & z- 122

# checking for vowels
if c == 'a' or c == 'e' or c == 'i' or c == 'o' or c == 'u' or c == 'A' or c == 'E' or c == 'I' or c == 'O' or c == 'U':
    print(c, "is a vowel")  # condition true input is vowel
else:
    print(c, "is a consonant")  # condition true input is consonant

a is a vowel

Finding Ascii value of a character

In [ ]:
Char = 'E'  # A- 65 & Z- 90

# convert Char to Ascii value
Ascii_val = ord(Char)

# print Value
print('The ASCII value of', Char, 'is', Ascii_val)

The ASCII value of E is 69

Checking if two strings are Anagram or not

In [ ]:
String1 = "Listen"
String2 = "Silent"

if String1 == String2:
    print('Strings are anagram')
else:
    print('Strings are not anagram')

Strings are not anagram

Printing Patterns

In [6]:
n = 5
for i in range(n):
  print('* ' * n)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

Pattern for right triangle star pattern

In [7]:
n = int(input())
for i in range(1,n+1):
  print('* ' * i)

4
*
* *
* * *
* * * *

In [14]:
n = 4
for i in range(n):
  for j in range(n-i-1):
    print("  ",end="")
  for k in range(i+1):
    print("* ",end="")
  print()

      *
    * *
  * * *
* * * *

In [15]:
n = 4
for i in range(n):
  for j in range(n-i):
    print("* ",end="")
  print()

* * * *
* * *
* *
*